{{/*
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ define "head-import" }}
{{ $gamesStyle := resources.Get "scss/games.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $gamesStyle.RelPermalink }}">
{{ $style := resources.Get "scss/applications.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "main" }}
<section class="home-header">
  <div class="content">
    <img src="/app-icons/categories/games.svg" alt="" width="200">
    <h1>{{ i18n "games.title" }}</h1>
    <h4>{{ i18n "games.subtitle" }}</h4>
  </div>
</section>

<main>
  {{- $subcat_games := partial "fn/subcat_apps" (dict "cat" "games") -}}

  <div class="container mt-4">
    <p>{{ i18n "games.intro1" | markdownify }}</p>
    <p>{{ i18n "games.intro2" | markdownify }}</p>
    <p>{{ i18n "games.intro3" | markdownify }}</p>

    <div class="home-section mt-5 mx-auto col-lg-10">
      <img src="/games/play.svg" class="img-fluid">
      <div>
        <h2>{{ i18n "games.play" }}</h2>
        <p>{{ i18n "games.play.text" }}</p>
      </div>
    </div>

    <div class="home-section section-choose mx-auto col-lg-10">
      <div>
        <h2>{{ i18n "games.choose" }}</h2>
        <p>
          {{ i18n "games.choose.text" | markdownify }}
          {{- $subcatLinks := slice }}
          {{- range $subcat, $games := $subcat_games }}
            {{- $subcatLinks = $subcatLinks | append (printf "[%s](#%s)" (i18n (print "games-" $subcat)) (anchorize $subcat)) }}
          {{- end }}
          {{ delimit $subcatLinks (i18n "string.list.separator") (i18n "string.list.last.separator") | markdownify }}
        </p>
      </div>
      <img src="/games/choose.svg" class="img-fluid">
    </div>

    <div class="home-section mb-5 mx-auto col-lg-10">
      <img src="/games/contribute.png" class="img-fluid px-5">
      <div>
        <h2>{{ i18n "games.contribute" }}</h2>
        <p>{{ i18n "games.contribute.text" | markdownify }}</p>
      </div>
    </div>
  </div>

  <div class="section-blue py-3">
    <h2 class="text-center">{{ i18n "games.all" }}</h2>
  {{- range $subcat, $games := $subcat_games }}
    <section class="container">
      <h3 id="{{ anchorize $subcat }}">{{ i18n (print "games-" $subcat) }}</h3>
      <div class="applications">
      {{- range $games }}
        {{ partial "app_tile.html" . }}
      {{- end }}
      </div>
    </section>
  {{- end }}
  </div>
</main>
{{ end }}
