{{/*
SPDX-FileCopyrightText: 2020 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2021 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

<div class="app text-center" data-popularity="{{ .Params.popularity }}" data-name="{{ .Params.name }}" data-categories="{{ jsonify .Params.categories }}" data-platforms="{{ jsonify .Params.platforms }}">
  <a href="{{ .RelPermalink }}" class="d-block">
    {{ partial "icon.html" (dict "type" "app" "icon" .Params.icon "size" "48" "class" "icon" "name" .Params.name) }}
    <h3>{{ .Params.name }}</h3>
  </a>
  <p>{{ .Params.GenericName }}</p>
</div>
