{{/*
SPDX-FileCopyrightText: 2020 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2021 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: GPL-3.0-or-later
*/}}

{{- with (partial "fn/i18n_data" (slice "games" .File.TranslationBaseName)) }}
<h2>{{ i18n "games.additional" }}</h2>
{{- index . "howto" | markdownify }}
{{- end }}

{{- with (partial "fn/i18n_data" (slice "education" .File.TranslationBaseName)) }}
<h2 id="how-to">{{ i18n "education.additional" }}</h2>
{{- index . "howto" | markdownify }}
{{- end }}

{{- if eq .File.TranslationBaseName "kturtle" -}}
<div class="applications">
  {{- range (slice "koch" "q_sierpinski" "s_tree" "sierpinski" "snowflake" "tree") -}}
  <div class="text-center">
    <a href="/education/kturtle/images/{{ . }}.png"><img src="/education/kturtle/images/thumbs/{{ . }}.png" /></a><br />
    <a href="https://cdn.kde.org/edu/kturtle/logo_scripts/{{ . }}.turtle">{{ . }}</a>
  </div>
  {{- end -}}
</div>
{{- end -}}

{{ if gt (len .Params.releases) 0 }}
  <h2 class="mb-0 d-flex">
    {{ i18n "releases" }}
    {{ with .OutputFormats.Get "rss" -}}
      <a href="{{ .RelPermalink }}" target="_blank" rel="noopener noreferrer" class="ms-auto post-feed" style="font-size: 1rem">
        RSS <i class="icon icon_rss"></i>
      </a>
    {{ end }}
  </h2>
{{ end }}
{{ $index := 0 }}
{{ range .Params.releases }}
  {{ if or .description .artifacts }}
  <details class="release" {{ if eq $index 0 }}open="true"{{ end }} id="{{ .version }}">
    <summary class="mt-1 h5">
      {{ .version }}
      <small class="text-muted">{{ .date }}</small>
    </summary>

    <div class="ms-4 mb-4">
      {{ with .description }}
        {{ . | markdownify }}
      {{ end }}

      {{ with .url }}
        <div><a class="learn-more" href="{{ . }}">{{ i18n "learn-more" }}</a></div>
      {{ end }}
      {{ range .artifacts }}
        <div class="mb-2">
          {{ $size := "" }}
          {{ if and .size .size.download }}
            {{ $size = printf "(%.2f MB)" (div .size.download 1000000.0) }}
          {{ end }}
          <h5 class="mt-3 mb-0">
          {{ if eq .type "binary" }}
            {{- $text := "" }}{{ $arch := "" }}
            {{ if or (eq .platform "x86_64-appimage") (eq .platform "x86_64-linux-gnu") }}
              {{- $text = i18n "AppImage" }}{{ $arch = "x86_64" }}
            {{ else if or (eq .platform "macOS") (hasPrefix .platform "x86_64-macos") }}
              {{- $text = i18n "macos" }}{{ $arch = "x86_64" }}
            {{ else if or (eq .platform "win64") (hasPrefix .platform "x86_64-windows") }}
              {{- $text = i18n "windows" }}{{ $arch = "win64" }}
            {{ else if eq .platform "win32" }}
              {{- $text = i18n "windows" }}{{ $arch = "win32" }}
            {{ else if hasPrefix .platform "android" }}
              {{- $text = i18n "android" }}{{ $arch = index (split .platform "-") 1 }}
            {{ end }}
            <a href="{{ index .locations 0 }}">{{ $text }} - <small class="text-muted">{{ $arch }} {{ $size }}</small></a>
          {{ else }}
            <a href="{{ index .locations 0 }}">Source</a>
          {{ end }}
          </h5>
          {{ range $algo, $checksum := .checksum }}
            <div><strong>{{ $algo }}:</strong> {{ $checksum }}</div>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </details>
  {{- $index = add $index 1 }}
  {{ else }}
    <div class="ms-3 release mt-1 h5">
      {{ .version }}
      <small class="text-muted">{{ .date }}</small>
    </div>
  {{ end }}
{{ end }}

{{ $addonPages := where .Site.RegularPages "Params.apptype" "addon" }}
{{ if ne .Site .Sites.First }}
  {{ $enAddonPages := where .Sites.First.RegularPages "Params.apptype" "addon" }}
  {{ $addonPages = $addonPages | lang.Merge $enAddonPages }}
{{ end }}
{{ $extensions := where $addonPages "Params.extends" "intersect" (slice .Params.d_app_id) }}
{{ if gt (len $extensions) 0 }}
  <h2 class="mb-0">{{ i18n "extensions" }}</h2>
  {{ range $extensions }}
  <div class="container d-flex align-items-center">
    {{ if .Params.icon }}
    {{ partial "icon" (dict "type" "app" "icon" .Params.icon "size" "48" "class" "me-2" "name" .Params.name) }}
    {{ end }}
    <div>
    <h3 class="h4"><a href="{{ .RelPermalink }}">{{ .Params.name }}</a></h3>
    <p>{{ .Params.summary }}</p>
    </div>
  </div>
  {{ end }}
{{ end }}
